html{
  scroll-behavior: smooth;
}

h2{
  font-size: 27px;
  color: white;
  text-align: center;
  padding: 21px;
  background-color: rgb(235, 235, 235);
}

.col-6{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#expressnqz{
  font-size: 27px;
}

#con2{
  background-color: rgb(235, 235, 235);
}